<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Своеобразный ресайз</title>
</head>

<body>
    <h1>Своеобразный ресайз</h1>
    <hr>

    <div><a href='api/v1/work/create' color='black'> Загрузить исходное изображение через REST API</a></div>
    <hr>
    <div><a href='api/v1/work/list'>Список загруженных изображений </a></div>
    <hr>
    <div>Чтобы увидеть изображение c измененным размером, необходимо самостоятельно в адресной строке прописать id
        изображения
        Например: localhost/1
    </div>


</body>

</html>